:root {
    --primary-color: #5056ed;
    --secondary-color: #d9d9d9;
    --danger-color: #ed5050;
    --base-font-color: rgba(0, 0, 0, 0.9);
    --backdrop-color: rgba(0, 0, 0, 0.3);
    --box-shadow-color: rgba(0, 0, 0, 0.1);
    --bg-color: #f2f6f8;
}
